html, body {
    margin: 0;
    padding: 0;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

header {
    width: calc(100vw - 2em);
    padding: 0.75em 1em;
    
    gap: 24px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--bgcolor-outset);
    color: var(--fgcolor-outset);
}

header > .navbar {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: end;
}

main { flex-grow: 1; }

main:not(.instruction-description) {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

main:not(.instruction-description) > .h-center {
    align-self: center;
}

main.instruction-description {
    padding: 0.5em 1em;
}

main.instruction-description > .h-center {
    display: block;
    text-align: center;
}


p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 24px; }
h3, .h3 { font-size: 20px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 16px; }
h6, .h6 { font-size: 14px; }

a {
    color: var(--fgcolor-emphasis);
    text-decoration: underline;
    text-underline-offset: 1px;
}

a:hover {
    color: var(--fgcolor-emphasis);
    text-decoration: underline;
    text-underline-offset: 2px;
}

:root {
    --bgcolor-default: #f8f8f8;
    --bgcolor-inset: #888888;
    --bgcolor-outset: #BBBBBB;
    --bgcolor-emphasis: #999999;
    --bgcolor-transparant: #00000000;

    --fgcolor-default: #070707;
    --fgcolor-inset: #070707;
    --fgcolor-outset: #070707;
    --fgcolor-emphasis: blue;

    background-color: var(--bgcolor-default);
    color: var(--fgcolor-default);
}

/* @media (prefers-color-scheme: dark) {
    :root {
    }
} */